@media (max-width: 767px) {
  .navbar-brand {
    display: flex;
    align-items: center;
  }

  .navbar-brand img {
    margin-right: 8px;
  }
}

.banner {
  padding-top: 30%;
  padding-bottom: 30%;
  color: #fff;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.8);
  background-position: center;
  background-size: cover;
  height: 500px; /* Atur tinggi sesuai kebutuhan Anda */
}
.carousel-item .container.text-center h3 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 0 0 6px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.carousel-item .container.text-center p {
  text-shadow: 2px 2px 4px rgba(1, 0, 0, 0.5), 0 0 6px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.kontak {
  background: url("https://wallpaperaccess.com/full/1867010.jpg") no-repeat center center;
  background-size: cover;
  padding-bottom: 20%;
  padding-top: 20%;
  color: #fff;
}
.p {
  text-align: justify;
}
